[Unit]
Description=Rotate Linux root password

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/vault-rotate
ExecStart=/usr/bin/rotate-linux-password.sh root

