[Unit]
Description=executes rotate-password.service

[Timer]
OnCalendar=monthly
AccuracySec=1us
RandomizedDelaySec=30
Unit=rotate-password.service

[Install]
WantedBy=multi-user.target

